.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
  background-color: #ffffff;
  padding: 30px 0 20px;
  width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.text {
  color: #5a78c2;
  font-size: 36px;
   font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style:normal; 
  letter-spacing: 1px;
}

.underline {
  width: 50px;
  height: 4px;
  background: #5a78c2;
  border-radius: 2px;
}

.inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 55px;
  background: #f7f8fa;
  border-radius: 6px;
  padding: 0 15px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.03);
  transition: background-color 0.3s ease;
}

.input:hover {
  background: #eef0f4;
}

.input img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
  opacity: 0.7;
}

.input input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #4a4b4d;
  font-size: 16px;
}

.forgot-password {
  padding-left: 50px;
  margin-top: 15px;
  color: #3c3c3f;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.forgot-password span {
  color: #5a78c2;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}

.forgot-password span:hover {
  color: #4764a3;
}

.submit-container {
  display: flex;
  gap: 15px;
  margin: 40px auto 20px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  color: #ffffff;
  background: #5a78c2;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 8px rgba(90, 120, 194, 0.2);
}

.submit:hover {
  background: #4764a3;
  box-shadow: 0px 5px 10px rgba(71, 100, 163, 0.25);
}

.gray {
  background: #c4c4c4;
  color: #747474;
}

.gray:hover {
  background: #b0b0b0;
  color: #5e5e5e;
  box-shadow: none;
}

.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}


.error-message {
  color: #d9534f;
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb; 
  padding: 10px; 
  border-radius: 5px; 
  margin: 10px 30px; 
  font-size: 14px;
  display: flex; 
  align-items: center; 
}


.error-message::before {
  content: "⚠️"; 
  margin-right: 8px;
}
